output/wpDict.txt
output/wpSQL.txt
output/wpGuestAuthors.txt
dumps/articleDump.txt
dumps/authorDump.txt
rawdata/thetriangle.WordPress.2024-06-22 (1).xml
rawdata/tri-wpdump_4-1-24.xml
*/__pycache__/*
wordpressToDict.py
wordpressToDict.py
