# Directories
__pycache__/
dumps/*
output/*
rawdata/*
stats/*
log/*
cacheDirectory/*
venv/*
.venv/*

# Files
*.pyc
temp.txt
*.json
result.txt
skenanigans-rawdata.zip
cacheDirectory/joblib/Utils/NLP/generateKShingles/*
cacheDirectory/joblib/Utils/NLP/generateSparseVector/*
cacheDirectory/joblib/Utils/NLP/generateSignatureMatrix/*
Utils/cacheDirectory/Utils/NLP/_generateKShingles_impl/*
Utils/cacheDirectory/Utils/NLP/_generateSignatureMatrix_impl/*
Utils/cacheDirectory/Utils/NLP/_generateSparseVector_impl/*
